<a href="https://colab.research.google.com/github/sushrut022003/datascience/blob/main/weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
data=pd.read_csv('/content/weather_description.csv')

In [ ]:
data

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,0.0,0.0,150.0,0.0,0.0,0.0,0.0,10.0,360.0,...,270.0,260.0,230.0,60.0,135.0,101.0,30.0,336.0,336.0,329.0
2,2012-10-01 14:00:00,6.0,4.0,147.0,2.0,0.0,0.0,8.0,9.0,360.0,...,270.0,260.0,230.0,60.0,157.0,315.0,30.0,336.0,336.0,329.0
3,2012-10-01 15:00:00,20.0,18.0,141.0,10.0,0.0,0.0,23.0,9.0,360.0,...,271.0,260.0,231.0,60.0,157.0,307.0,30.0,336.0,336.0,329.0
4,2012-10-01 16:00:00,34.0,31.0,135.0,17.0,0.0,0.0,37.0,9.0,360.0,...,272.0,260.0,233.0,60.0,157.0,294.0,30.0,336.0,336.0,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9416,2013-10-28 20:00:00,8.0,53.0,267.0,12.0,223.0,237.0,221.0,218.0,176.0,...,267.0,260.0,331.0,266.0,358.0,136.0,347.0,19.0,19.0,90.0
9417,2013-10-28 21:00:00,167.0,57.0,272.0,12.0,220.0,241.0,228.0,214.0,181.0,...,281.0,278.0,317.0,291.0,215.0,217.0,348.0,23.0,23.0,123.0
9418,2013-10-28 22:00:00,107.0,57.0,258.0,4.0,232.0,235.0,224.0,218.0,178.0,...,292.0,275.0,327.0,296.0,264.0,46.0,346.0,23.0,23.0,49.0
9419,2013-10-28 23:00:00,211.0,59.0,258.0,2.0,232.0,236.0,229.0,216.0,181.0,...,305.0,288.0,319.0,316.0,168.0,64.0,347.0,26.0,26.0,56.0
9420,2013-10-29 00:00:00,161.0,66.0,256.0,15.0,223.0,233.0,227.0,210.0,185.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,haze,NaN,NaN,NaN
1,2012-10-01 13:00:00,mist,scattered clouds,light rain,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
2,2012-10-01 14:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,sky is clear,sky is clear,broken clouds,overcast clouds,sky is clear,overcast clouds
3,2012-10-01 15:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
4,2012-10-01 16:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds

In [ ]:
data.tail()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
8552,2013-09-22 20:00:00,heavy intensity rain,moderate rain,sky is clear,moderate rain,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,sky is clear,moderate rain,overcast clouds,sky is clear,few clouds,sky is clear,scattered clouds,broken clouds,sky is clear
8553,2013-09-22 21:00:00,mist,light rain,sky is clear,overcast clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,overcast clouds,sky is clear,broken clouds,overcast clouds,sky is clear,sky is clear,sky is clear,scattered clouds,broken clouds,sky is clear
8554,2013-09-22 22:00:00,light rain,mist,sky is clear,broken clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,scattered clouds,sky is clear,broken clouds,overcast clouds,sky is clear,few clouds,sky is clear,scattered clouds,broken clouds,sky is clear
8555,2013-09-22 23:00:00,light rain,moderate rain,broken clouds,heavy intensity rain,sky is clear,sky is clear,sky is clear,sky is clear,overcast clouds,...,few clouds,sky is clear,broken clouds,overcast clouds,sky is clear,sky is clear,sky is clear,broken clouds,broken clouds,sky is clear
8556,2013-09-23 00:00:00,broken clouds,broken clouds,scattered clouds,broken clouds,sky is clear,sky is clear,sky is clear,sky is clear,thunderstorm with light rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.describe()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
count,8557,8556,8556,8556,8556,8556,8556,8556,8556,8556,...,8555,8555,8555,8555,8555,8555,8556,8555,8555,8555
unique,8557,21,18,21,16,18,16,16,20,29,...,22,26,30,23,8,18,16,8,8,8
top,2012-10-01 12:00:00,sky is clear,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear
freq,1,2874,2428,2069,2377,4861,2681,6515,4945,3586,...,2521,1941,2106,3325,5591,3661,7179,5416,5461,5854

In [ ]:
data.shape

(8557, 37)

In [ ]:
data.columns

Index(['datetime', 'Vancouver', 'Portland', 'San Francisco', 'Seattle',
       'Los Angeles', 'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque',
       'Denver', 'San Antonio', 'Dallas', 'Houston', 'Kansas City',
       'Minneapolis', 'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis',
       'Atlanta', 'Detroit', 'Jacksonville', 'Charlotte', 'Miami',
       'Pittsburgh', 'Toronto', 'Philadelphia', 'New York', 'Montreal',
       'Boston', 'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa',
       'Nahariyya', 'Jerusalem'],
      dtype='object')

In [ ]:
data.dtypes

datetime             object
Vancouver            object
Portland             object
San Francisco        object
Seattle              object
Los Angeles          object
San Diego            object
Las Vegas            object
Phoenix              object
Albuquerque          object
Denver               object
San Antonio          object
Dallas               object
Houston              object
Kansas City          object
Minneapolis          object
Saint Louis          object
Chicago              object
Nashville            object
Indianapolis         object
Atlanta              object
Detroit              object
Jacksonville         object
Charlotte            object
Miami                object
Pittsburgh           object
Toronto              object
Philadelphia         object
New York             object
Montreal             object
Boston               object
Beersheba            object
Tel Aviv District    object
Eilat                object
Haifa                object
Nahariyya            object
Jerusalem            object
dtype: object

In [ ]:
data['Portland'].unique()

array([nan, 'scattered clouds', 'sky is clear', 'few clouds',
       'broken clouds', 'overcast clouds', 'mist', 'haze', 'dust', 'fog',
       'moderate rain', 'light rain', 'heavy intensity rain',
       'light intensity drizzle', 'heavy snow', 'snow', 'light snow',
       'very heavy rain', 'thunderstorm'], dtype=object)

In [ ]:
data.nunique

<bound method DataFrame.nunique of                  datetime             Vancouver          Portland  \
0     2012-10-01 12:00:00                   NaN               NaN
1     2012-10-01 13:00:00                  mist  scattered clouds
2     2012-10-01 14:00:00         broken clouds  scattered clouds
3     2012-10-01 15:00:00         broken clouds  scattered clouds
4     2012-10-01 16:00:00         broken clouds  scattered clouds
...                   ...                   ...               ...
8552  2013-09-22 20:00:00  heavy intensity rain     moderate rain
8553  2013-09-22 21:00:00                  mist        light rain
8554  2013-09-22 22:00:00            light rain              mist
8555  2013-09-22 23:00:00            light rain     moderate rain
8556  2013-09-23 00:00:00         broken clouds     broken clouds

         San Francisco               Seattle   Los Angeles     San Diego  \
0                  NaN                   NaN           NaN           NaN
1           light rain          sky is clear          mist  sky is clear
2         sky is clear          sky is clear  sky is clear  sky is clear
3         sky is clear          sky is clear  sky is clear  sky is clear
4         sky is clear          sky is clear  sky is clear  sky is clear
...                ...                   ...           ...           ...
8552      sky is clear         moderate rain  sky is clear    few clouds
8553      sky is clear       overcast clouds  sky is clear  sky is clear
8554      sky is clear         broken clouds  sky is clear  sky is clear
8555     broken clouds  heavy intensity rain  sky is clear  sky is clear
8556  scattered clouds         broken clouds  sky is clear  sky is clear

         Las Vegas       Phoenix                   Albuquerque  ...  \
0              NaN           NaN                           NaN  ...
1     sky is clear  sky is clear                  sky is clear  ...
2     sky is clear  sky is clear                  sky is clear  ...
3     sky is clear  sky is clear                  sky is clear  ...
4     sky is clear  sky is clear                  sky is clear  ...
...            ...           ...                           ...  ...
8552  sky is clear  sky is clear                  sky is clear  ...
8553  sky is clear  sky is clear                  sky is clear  ...
8554  sky is clear  sky is clear                  sky is clear  ...
8555  sky is clear  sky is clear               overcast clouds  ...
8556  sky is clear  sky is clear  thunderstorm with light rain  ...

          Philadelphia      New York         Montreal           Boston  \
0                  NaN           NaN              NaN              NaN
1        broken clouds    few clouds  overcast clouds     sky is clear
2        broken clouds    few clouds     sky is clear       few clouds
3        broken clouds    few clouds     sky is clear       few clouds
4        broken clouds    few clouds     sky is clear       few clouds
...                ...           ...              ...              ...
8552     broken clouds  sky is clear    moderate rain  overcast clouds
8553   overcast clouds  sky is clear    broken clouds  overcast clouds
8554  scattered clouds  sky is clear    broken clouds  overcast clouds
8555        few clouds  sky is clear    broken clouds  overcast clouds
8556               NaN           NaN              NaN              NaN

            Beersheba Tel Aviv District          Eilat             Haifa  \
0                 NaN               NaN           haze               NaN
1        sky is clear      sky is clear           haze      sky is clear
2        sky is clear      sky is clear  broken clouds   overcast clouds
3     overcast clouds      sky is clear  broken clouds   overcast clouds
4     overcast clouds      sky is clear  broken clouds   overcast clouds
...               ...               ...            ...               ...
8552     sky is clear        few clouds   sky is clear  scattered clouds
8553     sky is clear      sky is clear   sky is clear  scattered clouds
8554     sky is clear        few clouds   sky is clear  scattered clouds
8555     sky is clear      sky is clear   sky is clear     broken clouds
8556              NaN               NaN            NaN               NaN

            Nahariyya        Jerusalem
0                 NaN              NaN
1        sky is clear     sky is clear
2        sky is clear  overcast clouds
3     overcast clouds  overcast clouds
4     overcast clouds  overcast clouds
...               ...              ...
8552    broken clouds     sky is clear
8553    broken clouds     sky is clear
8554    broken clouds     sky is clear
8555    broken clouds     sky is clear
8556              NaN              NaN

[8557 rows x 37 columns]>

In [ ]:
data.isnull()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8552,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8553,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8554,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8555,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8556,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
data.isnull().sum()

datetime             0
Vancouver            1
Portland             1
San Francisco        1
Seattle              1
Los Angeles          1
San Diego            1
Las Vegas            1
Phoenix              1
Albuquerque          1
Denver               1
San Antonio          1
Dallas               2
Houston              2
Kansas City          2
Minneapolis          2
Saint Louis          2
Chicago              2
Nashville            2
Indianapolis         2
Atlanta              2
Detroit              2
Jacksonville         2
Charlotte            2
Miami                2
Pittsburgh           2
Toronto              2
Philadelphia         2
New York             2
Montreal             2
Boston               2
Beersheba            2
Tel Aviv District    2
Eilat                1
Haifa                2
Nahariyya            2
Jerusalem            2
dtype: int64

In [ ]:
data.rename(columns={"Hafia":"Hafia Condition"})

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,haze,NaN,NaN,NaN
1,2012-10-01 13:00:00,mist,scattered clouds,light rain,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
2,2012-10-01 14:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,sky is clear,sky is clear,broken clouds,overcast clouds,sky is clear,overcast clouds
3,2012-10-01 15:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
4,2012-10-01 16:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8552,2013-09-22 20:00:00,heavy intensity rain,moderate rain,sky is clear,moderate rain,sky is clear,few clouds,sky is clear,sky is clear,sky is clear,...,broken clouds,sky is clear,moderate rain,overcast clouds,sky is clear,few clouds,sky is clear,scattered clouds,broken clouds,sky is clear
8553,2013-09-22 21:00:00,mist,light rain,sky is clear,overcast clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,overcast clouds,sky is clear,broken clouds,overcast clouds,sky is clear,sky is clear,sky is clear,scattered clouds,broken clouds,sky is clear
8554,2013-09-22 22:00:00,light rain,mist,sky is clear,broken clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,scattered clouds,sky is clear,broken clouds,overcast clouds,sky is clear,few clouds,sky is clear,scattered clouds,broken clouds,sky is clear
8555,2013-09-22 23:00:00,light rain,moderate rain,broken clouds,heavy intensity rain,sky is clear,sky is clear,sky is clear,sky is clear,overcast clouds,...,few clouds,sky is clear,broken clouds,overcast clouds,sky is clear,sky is clear,sky is clear,broken clouds,broken clouds,sky is clear
8556,2013-09-23 00:00:00,broken clouds,broken clouds,scattered clouds,broken clouds,sky is clear,sky is clear,sky is clear,sky is clear,thunderstorm with light rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data=pd.read_csv('/content/humidity.csv')

In [ ]:
data['Portland'].mean()

75.84935483870967

In [ ]:
data['Las Vegas'].median()

24.0

In [ ]:
data['Boston'].std()

18.823479361834206

In [ ]:
data['Chicago'].value_counts()

89.0     1318
100.0     500
93.0      474
74.0      443
87.0      392
         ...
6.0         1
10.0        1
21.0        1
13.0        1
9.0         1
Name: Chicago, Length: 91, dtype: int64

In [ ]:
data[data['Boston']==68]

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
1,2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0
2,2012-10-01 14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,91.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
3,2012-10-01 15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,87.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
4,2012-10-01 16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,...,69.0,57.0,84.0,68.0,52.0,62.0,22.0,51.0,51.0,50.0
5,2012-10-01 17:00:00,78.0,79.0,84.0,79.0,88.0,80.0,21.0,24.0,49.0,...,69.0,57.0,80.0,68.0,54.0,62.0,23.0,51.0,51.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15778,2014-07-20 22:00:00,68.0,52.0,60.0,55.0,60.0,60.0,7.0,10.0,18.0,...,47.0,61.0,42.0,68.0,92.0,78.0,33.0,84.0,84.0,91.0
15779,2014-07-20 23:00:00,68.0,49.0,60.0,59.0,60.0,60.0,8.0,8.0,17.0,...,47.0,69.0,44.0,68.0,96.0,73.0,92.0,84.0,84.0,95.0
15794,2014-07-21 14:00:00,77.0,87.0,77.0,93.0,88.0,73.0,27.0,24.0,44.0,...,50.0,64.0,57.0,68.0,45.0,62.0,22.0,73.0,70.0,68.0
15829,2014-07-23 01:00:00,64.0,64.0,64.0,56.0,50.0,69.0,6.0,10.0,23.0,...,54.0,58.0,65.0,68.0,92.0,78.0,42.0,85.0,85.0,98.0
15913,2014-07-26 13:00:00,87.0,87.0,87.0,93.0,88.0,93.0,39.0,35.0,37.0,...,69.0,53.0,72.0,68.0,37.0,52.0,22.0,68.0,63.0,52.0

In [ ]:
data['Nashville']>90

0        False
1         True
2         True
3         True
4         True
         ...
15945    False
15946    False
15947    False
15948    False
15949    False
Name: Nashville, Length: 15950, dtype: bool

In [ ]:
data.groupby("Nashville").mean()

,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
Nashville,,,,,,,,,,,,,,,,,,,,,
10.0,71.000000,61.000000,74.000000,56.000000,24.000000,28.000000,17.000000,14.000000,26.000000,74.000000,...,48.000000,34.000000,86.000000,36.000000,83.000000,49.000000,44.000000,100.000000,100.000000,93.000000
12.0,65.000000,70.000000,55.000000,81.000000,27.000000,33.000000,10.000000,9.000000,10.000000,15.000000,...,70.000000,100.000000,NaN,93.000000,85.000000,58.000000,57.000000,89.000000,77.000000,58.000000
13.0,47.000000,72.000000,82.000000,35.500000,47.000000,27.000000,25.500000,29.500000,19.500000,70.500000,...,43.000000,22.000000,72.000000,46.000000,67.000000,66.500000,47.000000,99.500000,99.500000,75.500000
14.0,87.000000,50.000000,87.000000,54.000000,77.000000,88.000000,67.000000,22.000000,20.000000,17.000000,...,21.000000,25.000000,43.000000,NaN,83.000000,76.000000,95.000000,100.000000,100.000000,76.000000
15.0,74.750000,58.400000,73.400000,68.800000,50.200000,58.800000,33.400000,16.000000,16.000000,22.000000,...,43.000000,52.600000,54.750000,85.000000,87.000000,68.000000,79.200000,96.000000,91.800000,71.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96.0,82.855263,81.025974,78.120000,78.662338,67.805195,78.144737,25.802632,32.342105,41.013158,56.986667,...,79.789474,80.093333,79.200000,79.922078,58.220779,64.298701,41.973684,78.025974,72.909091,64.818182
97.0,81.376812,82.605634,77.478873,80.450704,65.957746,78.724638,23.285714,31.485294,44.028169,60.292308,...,81.563380,82.231884,76.323944,83.352113,60.873239,63.929577,41.845070,78.887324,78.154930,65.690141
98.0,83.866667,78.344262,78.672131,79.327869,60.016393,80.049180,26.557377,31.754098,45.049180,61.218182,...,76.393443,80.372881,80.915254,78.901639,60.147541,64.409836,40.180328,78.016393,73.590164,66.573770
99.0,79.184713,77.422360,80.901235,74.123457,70.565217,77.719745,14.000000,21.794702,25.150327,50.567010,...,76.352201,78.503704,78.277027,78.304348,43.654321,67.246914,25.869565,68.574074,59.098765,48.000000
100.0,83.357430,82.537849,75.244186,79.062992,66.286822,77.440000,35.744000,40.158590,45.069959,58.076923,...,77.024896,76.382716,76.663636,81.976000,54.610895,60.607843,40.517647,75.434109,75.166667,57.715953

In [ ]:
data.groupby("Nashville").min()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
Nashville,,,,,,,,,,,,,,,,,,,,,
10.0,2013-11-11 21:00:00,71.0,61.0,74.0,56.0,24.0,28.0,17.0,14.0,26.0,...,48.0,34.0,86.0,36.0,83.0,49.0,44.0,100.0,100.0,93.0
12.0,2014-02-21 22:00:00,65.0,70.0,55.0,81.0,27.0,33.0,10.0,9.0,10.0,...,70.0,100.0,NaN,93.0,85.0,58.0,57.0,89.0,77.0,58.0
13.0,2013-11-11 20:00:00,23.0,62.0,81.0,14.0,21.0,24.0,16.0,16.0,13.0,...,39.0,10.0,51.0,36.0,51.0,53.0,47.0,99.0,99.0,58.0
14.0,2014-02-28 21:00:00,87.0,50.0,87.0,54.0,77.0,88.0,67.0,22.0,20.0,...,21.0,25.0,43.0,NaN,83.0,76.0,95.0,100.0,100.0,76.0
15.0,2014-02-21 21:00:00,60.0,47.0,67.0,50.0,21.0,29.0,10.0,7.0,10.0,...,19.0,25.0,35.0,62.0,85.0,58.0,43.0,89.0,76.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96.0,2012-10-02 01:00:00,46.0,40.0,36.0,36.0,15.0,15.0,5.0,9.0,6.0,...,38.0,36.0,39.0,44.0,23.0,35.0,7.0,47.0,22.0,25.0
97.0,2012-10-01 21:00:00,53.0,38.0,26.0,37.0,13.0,20.0,6.0,10.0,8.0,...,49.0,32.0,42.0,20.0,23.0,41.0,8.0,38.0,24.0,15.0
98.0,2012-10-01 18:00:00,45.0,39.0,28.0,40.0,15.0,21.0,5.0,10.0,7.0,...,41.0,38.0,43.0,40.0,18.0,28.0,7.0,34.0,23.0,23.0
99.0,2012-10-01 14:00:00,27.0,33.0,43.0,31.0,11.0,26.0,5.0,6.0,5.0,...,24.0,28.0,33.0,36.0,11.0,23.0,5.0,41.0,10.0,12.0
100.0,2012-10-01 13:00:00,26.0,32.0,15.0,32.0,5.0,12.0,5.0,6.0,9.0,...,31.0,20.0,22.0,17.0,8.0,6.0,7.0,27.0,16.0,5.0

In [ ]:
data.groupby("Nashville").max().head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
Nashville,,,,,,,,,,,,,,,,,,,,,
10.0,2013-11-11 21:00:00,71.0,61.0,74.0,56.0,24.0,28.0,17.0,14.0,26.0,...,48.0,34.0,86.0,36.0,83.0,49.0,44.0,100.0,100.0,93.0
12.0,2014-02-21 22:00:00,65.0,70.0,55.0,81.0,27.0,33.0,10.0,9.0,10.0,...,70.0,100.0,NaN,93.0,85.0,58.0,57.0,89.0,77.0,58.0
13.0,2014-04-20 15:00:00,71.0,82.0,83.0,57.0,73.0,30.0,35.0,43.0,26.0,...,47.0,34.0,93.0,56.0,83.0,80.0,47.0,100.0,100.0,93.0
14.0,2014-02-28 21:00:00,87.0,50.0,87.0,54.0,77.0,88.0,67.0,22.0,20.0,...,21.0,25.0,43.0,NaN,83.0,76.0,95.0,100.0,100.0,76.0
15.0,2014-02-28 22:00:00,87.0,70.0,82.0,86.0,87.0,88.0,67.0,27.0,24.0,...,76.0,100.0,93.0,100.0,91.0,77.0,100.0,100.0,100.0,87.0

In [ ]:
data[data['Miami']==79]

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
10,2012-10-01 22:00:00,81.0,77.0,79.0,76.0,88.0,78.0,20.0,26.0,48.0,...,66.0,55.0,61.0,68.0,59.0,64.0,24.0,51.0,51.0,50.0
11,2012-10-01 23:00:00,81.0,77.0,78.0,75.0,88.0,78.0,20.0,26.0,48.0,...,66.0,55.0,57.0,68.0,60.0,64.0,25.0,51.0,51.0,50.0
12,2012-10-02 00:00:00,82.0,76.0,77.0,75.0,88.0,78.0,20.0,26.0,48.0,...,65.0,55.0,53.0,68.0,61.0,65.0,25.0,51.0,51.0,50.0
74,2012-10-04 14:00:00,40.0,74.0,72.0,59.0,82.0,94.0,23.0,32.0,NaN,...,94.0,NaN,NaN,88.0,61.0,55.0,34.0,69.0,69.0,58.0
86,2012-10-05 02:00:00,46.0,25.0,68.0,44.0,77.0,78.0,9.0,16.0,11.0,...,78.0,100.0,72.0,83.0,81.0,69.0,93.0,75.0,75.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15827,2014-07-22 23:00:00,77.0,60.0,79.0,69.0,33.0,58.0,7.0,16.0,34.0,...,52.0,65.0,65.0,65.0,91.0,81.0,82.0,89.0,89.0,95.0
15874,2014-07-24 22:00:00,88.0,91.0,61.0,83.0,38.0,41.0,9.0,20.0,28.0,...,60.0,61.0,58.0,91.0,89.0,80.0,31.0,86.0,86.0,83.0
15877,2014-07-25 01:00:00,68.0,85.0,59.0,74.0,37.0,42.0,9.0,18.0,22.0,...,57.0,65.0,74.0,92.0,90.0,83.0,75.0,84.0,94.0,90.0
15912,2014-07-26 12:00:00,87.0,92.0,98.0,93.0,88.0,93.0,45.0,38.0,37.0,...,76.0,66.0,77.0,76.0,44.0,58.0,22.0,59.0,59.0,57.0
15914,2014-07-26 14:00:00,82.0,82.0,82.0,93.0,93.0,83.0,43.0,45.0,31.0,...,78.0,60.0,68.0,67.0,37.0,58.0,22.0,63.0,63.0,52.0

In [ ]:
data=pd.read_csv('/content/pressure.csv')

In [ ]:
data['San Diego'].mean()

1017.2153885743695

In [ ]:
data['Albuquerque'].median()

1017.0

In [ ]:
data.columns

Index(['datetime', 'Vancouver', 'Portland', 'San Francisco', 'Seattle',
       'Los Angeles', 'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque',
       'Denver', 'San Antonio', 'Dallas', 'Houston', 'Kansas City',
       'Minneapolis', 'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis',
       'Atlanta', 'Detroit', 'Jacksonville', 'Charlotte', 'Miami',
       'Pittsburgh', 'Toronto', 'Philadelphia', 'New York', 'Montreal',
       'Boston', 'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa',
       'Nahariyya', 'Jerusalem'],
      dtype='object')

In [ ]:
data['Houston'].var()

46.112629322316955

In [ ]:
data=pd.read_csv('/content/wind_direction.csv')

In [ ]:
data['Houston'].mean()

150.80095541401275

In [ ]:
data['Albuquerque'].value_counts()

0.0      986
340.0    241
360.0    237
330.0    229
10.0     189
        ...
58.0       2
12.0       2
23.0       1
308.0      1
31.0       1
Name: Albuquerque, Length: 360, dtype: int64

In [ ]:
len(data[(data.Albuquerque=='Clear')])

0

In [ ]:
data['Charlotte'].unique()

array([ nan,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,
        80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,  89.,  90.,
         0.,  60.,  50., 100., 110., 120., 130., 150., 160., 170., 113.,
        56., 180., 210., 220., 230., 225., 280., 200., 260., 290., 340.,
       350., 270., 330., 165.,  20., 190.,  66., 133.,  10.,  40.,  30.,
        45., 360.,  16.,  23., 316., 153., 306., 125., 250., 240., 263.,
       266., 269., 272., 320., 310., 140., 300., 201., 172., 143., 115.,
        57.,  28., 227., 102., 191., 111.,  32., 277.,  15.,  53.,  55.,
        22.,  31., 185., 131., 176., 156., 159.,  29.,  52.,  35.,  42.,
        25., 154.,  36., 181., 326., 135.,  99., 199., 357.,   6.,  43.,
        14., 142., 256., 238., 179.,  19., 355.,   8.,  61., 155., 283.,
       296., 224.,   7., 342., 327., 293., 146.,  26., 139., 127., 128.,
        59., 197., 203., 147., 245., 106., 215., 324., 251., 178., 248.,
       105., 175., 114., 226., 223., 212.,   5.,  58.,  63.,  69.,  34.,
       265., 284., 312., 341.,   4., 235.,  65., 254., 325., 322., 301.,
       304.,  27., 233., 104., 163., 149., 228., 232., 236., 234., 229.,
       222., 219., 216., 214., 211., 192., 198., 187., 241., 261., 188.,
       206., 184., 193., 182., 195., 194., 257., 286., 328., 275.,  64.,
        95., 183., 359., 287., 294., 337., 262., 273., 335.,  47., 338.,
        91.,  33., 258., 288., 315., 145., 107., 303., 307., 295., 309.,
       332., 333., 177.,  17., 164., 247., 173., 166., 243., 252., 305.,
       345., 308., 313., 299., 213., 264., 117., 129., 242., 208., 231.,
       255., 158., 292., 289., 204., 137., 205., 118., 169., 144., 221.,
       132.,  67.,  46.,  51.,   9., 134.,  98.,  92., 112.,  93.,  38.,
        44., 121., 189., 161., 202., 151.,  11., 267., 276., 249.,  13.,
       349.,  12., 302.,   2., 168., 124., 196., 148., 314., 157., 285.,
       317., 282., 207., 244., 239., 186., 334., 336., 138.,  37.,  49.,
        24.,  48.,  54.,  21.,  39., 356.,  68., 259., 103., 246., 278.,
       209., 348., 174., 119., 109., 217.,  62.,  94., 136., 101., 279.,
       152., 321., 281., 237., 271., 253., 347., 331.,  96., 298., 358.,
         1., 123., 167., 141., 297., 218., 353.,  97., 108.,  41., 171.,
       291., 343., 346., 351., 344., 329.,  18., 122., 162., 126., 116.,
       354., 274., 311., 318., 352.])

In [ ]:
data[(data.Albuquerque=='Clear')].count()

datetime             0
Vancouver            0
Portland             0
San Francisco        0
Seattle              0
Los Angeles          0
San Diego            0
Las Vegas            0
Phoenix              0
Albuquerque          0
Denver               0
San Antonio          0
Dallas               0
Houston              0
Kansas City          0
Minneapolis          0
Saint Louis          0
Chicago              0
Nashville            0
Indianapolis         0
Atlanta              0
Detroit              0
Jacksonville         0
Charlotte            0
Miami                0
Pittsburgh           0
Toronto              0
Philadelphia         0
New York             0
Montreal             0
Boston               0
Beersheba            0
Tel Aviv District    0
Eilat                0
Haifa                0
Nahariyya            0
Jerusalem            0
dtype: int64

In [ ]:
data.head

<bound method NDFrame.head of                  datetime  Vancouver  Portland  San Francisco  Seattle  \
0     2012-10-01 12:00:00        NaN       NaN            NaN      NaN
1     2012-10-01 13:00:00        0.0       0.0          150.0      0.0
2     2012-10-01 14:00:00        6.0       4.0          147.0      2.0
3     2012-10-01 15:00:00       20.0      18.0          141.0     10.0
4     2012-10-01 16:00:00       34.0      31.0          135.0     17.0
...                   ...        ...       ...            ...      ...
9416  2013-10-28 20:00:00        8.0      53.0          267.0     12.0
9417  2013-10-28 21:00:00      167.0      57.0          272.0     12.0
9418  2013-10-28 22:00:00      107.0      57.0          258.0      4.0
9419  2013-10-28 23:00:00      211.0      59.0          258.0      2.0
9420  2013-10-29 00:00:00      161.0      66.0          256.0     15.0

      Los Angeles  San Diego  Las Vegas  Phoenix  Albuquerque  ...  \
0             NaN        NaN        NaN      NaN          NaN  ...
1             0.0        0.0        0.0     10.0        360.0  ...
2             0.0        0.0        8.0      9.0        360.0  ...
3             0.0        0.0       23.0      9.0        360.0  ...
4             0.0        0.0       37.0      9.0        360.0  ...
...           ...        ...        ...      ...          ...  ...
9416        223.0      237.0      221.0    218.0        176.0  ...
9417        220.0      241.0      228.0    214.0        181.0  ...
9418        232.0      235.0      224.0    218.0        178.0  ...
9419        232.0      236.0      229.0    216.0        181.0  ...
9420        223.0      233.0      227.0    210.0        185.0  ...

      Philadelphia  New York  Montreal  Boston  Beersheba  Tel Aviv District  \
0              NaN       NaN       NaN     NaN        NaN                NaN
1            270.0     260.0     230.0    60.0      135.0              101.0
2            270.0     260.0     230.0    60.0      157.0              315.0
3            271.0     260.0     231.0    60.0      157.0              307.0
4            272.0     260.0     233.0    60.0      157.0              294.0
...            ...       ...       ...     ...        ...                ...
9416         267.0     260.0     331.0   266.0      358.0              136.0
9417         281.0     278.0     317.0   291.0      215.0              217.0
9418         292.0     275.0     327.0   296.0      264.0               46.0
9419         305.0     288.0     319.0   316.0      168.0               64.0
9420           NaN       NaN       NaN     NaN        NaN                NaN

      Eilat  Haifa  Nahariyya  Jerusalem
0     360.0    NaN        NaN        NaN
1      30.0  336.0      336.0      329.0
2      30.0  336.0      336.0      329.0
3      30.0  336.0      336.0      329.0
4      30.0  336.0      336.0      329.0
...     ...    ...        ...        ...
9416  347.0   19.0       19.0       90.0
9417  348.0   23.0       23.0      123.0
9418  346.0   23.0       23.0       49.0
9419  347.0   26.0       26.0       56.0
9420    NaN    NaN        NaN        NaN

[9421 rows x 37 columns]>

In [ ]:
data.tail

<bound method NDFrame.tail of                  datetime  Vancouver  Portland  San Francisco  Seattle  \
0     2012-10-01 12:00:00        NaN       NaN            NaN      NaN
1     2012-10-01 13:00:00        0.0       0.0          150.0      0.0
2     2012-10-01 14:00:00        6.0       4.0          147.0      2.0
3     2012-10-01 15:00:00       20.0      18.0          141.0     10.0
4     2012-10-01 16:00:00       34.0      31.0          135.0     17.0
...                   ...        ...       ...            ...      ...
9416  2013-10-28 20:00:00        8.0      53.0          267.0     12.0
9417  2013-10-28 21:00:00      167.0      57.0          272.0     12.0
9418  2013-10-28 22:00:00      107.0      57.0          258.0      4.0
9419  2013-10-28 23:00:00      211.0      59.0          258.0      2.0
9420  2013-10-29 00:00:00      161.0      66.0          256.0     15.0

      Los Angeles  San Diego  Las Vegas  Phoenix  Albuquerque  ...  \
0             NaN        NaN        NaN      NaN          NaN  ...
1             0.0        0.0        0.0     10.0        360.0  ...
2             0.0        0.0        8.0      9.0        360.0  ...
3             0.0        0.0       23.0      9.0        360.0  ...
4             0.0        0.0       37.0      9.0        360.0  ...
...           ...        ...        ...      ...          ...  ...
9416        223.0      237.0      221.0    218.0        176.0  ...
9417        220.0      241.0      228.0    214.0        181.0  ...
9418        232.0      235.0      224.0    218.0        178.0  ...
9419        232.0      236.0      229.0    216.0        181.0  ...
9420        223.0      233.0      227.0    210.0        185.0  ...

      Philadelphia  New York  Montreal  Boston  Beersheba  Tel Aviv District  \
0              NaN       NaN       NaN     NaN        NaN                NaN
1            270.0     260.0     230.0    60.0      135.0              101.0
2            270.0     260.0     230.0    60.0      157.0              315.0
3            271.0     260.0     231.0    60.0      157.0              307.0
4            272.0     260.0     233.0    60.0      157.0              294.0
...            ...       ...       ...     ...        ...                ...
9416         267.0     260.0     331.0   266.0      358.0              136.0
9417         281.0     278.0     317.0   291.0      215.0              217.0
9418         292.0     275.0     327.0   296.0      264.0               46.0
9419         305.0     288.0     319.0   316.0      168.0               64.0
9420           NaN       NaN       NaN     NaN        NaN                NaN

      Eilat  Haifa  Nahariyya  Jerusalem
0     360.0    NaN        NaN        NaN
1      30.0  336.0      336.0      329.0
2      30.0  336.0      336.0      329.0
3      30.0  336.0      336.0      329.0
4      30.0  336.0      336.0      329.0
...     ...    ...        ...        ...
9416  347.0   19.0       19.0       90.0
9417  348.0   23.0       23.0      123.0
9418  346.0   23.0       23.0       49.0
9419  347.0   26.0       26.0       56.0
9420    NaN    NaN        NaN        NaN

[9421 rows x 37 columns]>

In [ ]:
data.index

RangeIndex(start=0, stop=9421, step=1)

In [ ]:
data.describe

<bound method NDFrame.describe of                  datetime  Vancouver  Portland  San Francisco  Seattle  \
0     2012-10-01 12:00:00        NaN       NaN            NaN      NaN
1     2012-10-01 13:00:00        0.0       0.0          150.0      0.0
2     2012-10-01 14:00:00        6.0       4.0          147.0      2.0
3     2012-10-01 15:00:00       20.0      18.0          141.0     10.0
4     2012-10-01 16:00:00       34.0      31.0          135.0     17.0
...                   ...        ...       ...            ...      ...
9416  2013-10-28 20:00:00        8.0      53.0          267.0     12.0
9417  2013-10-28 21:00:00      167.0      57.0          272.0     12.0
9418  2013-10-28 22:00:00      107.0      57.0          258.0      4.0
9419  2013-10-28 23:00:00      211.0      59.0          258.0      2.0
9420  2013-10-29 00:00:00      161.0      66.0          256.0     15.0

      Los Angeles  San Diego  Las Vegas  Phoenix  Albuquerque  ...  \
0             NaN        NaN        NaN      NaN          NaN  ...
1             0.0        0.0        0.0     10.0        360.0  ...
2             0.0        0.0        8.0      9.0        360.0  ...
3             0.0        0.0       23.0      9.0        360.0  ...
4             0.0        0.0       37.0      9.0        360.0  ...
...           ...        ...        ...      ...          ...  ...
9416        223.0      237.0      221.0    218.0        176.0  ...
9417        220.0      241.0      228.0    214.0        181.0  ...
9418        232.0      235.0      224.0    218.0        178.0  ...
9419        232.0      236.0      229.0    216.0        181.0  ...
9420        223.0      233.0      227.0    210.0        185.0  ...

      Philadelphia  New York  Montreal  Boston  Beersheba  Tel Aviv District  \
0              NaN       NaN       NaN     NaN        NaN                NaN
1            270.0     260.0     230.0    60.0      135.0              101.0
2            270.0     260.0     230.0    60.0      157.0              315.0
3            271.0     260.0     231.0    60.0      157.0              307.0
4            272.0     260.0     233.0    60.0      157.0              294.0
...            ...       ...       ...     ...        ...                ...
9416         267.0     260.0     331.0   266.0      358.0              136.0
9417         281.0     278.0     317.0   291.0      215.0              217.0
9418         292.0     275.0     327.0   296.0      264.0               46.0
9419         305.0     288.0     319.0   316.0      168.0               64.0
9420           NaN       NaN       NaN     NaN        NaN                NaN

      Eilat  Haifa  Nahariyya  Jerusalem
0     360.0    NaN        NaN        NaN
1      30.0  336.0      336.0      329.0
2      30.0  336.0      336.0      329.0
3      30.0  336.0      336.0      329.0
4      30.0  336.0      336.0      329.0
...     ...    ...        ...        ...
9416  347.0   19.0       19.0       90.0
9417  348.0   23.0       23.0      123.0
9418  346.0   23.0       23.0       49.0
9419  347.0   26.0       26.0       56.0
9420    NaN    NaN        NaN        NaN

[9421 rows x 37 columns]>